@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap");

:root {
  --primary-dark: #ff00008d;
  --primary-light: #690c0c;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #4ef3ff;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-[Outfit];
  }

  li {
    @apply p-4 text-sm;
  }

  h2 {
    @apply text-xl font-bold;
  }
}

.offer-box:hover .offer-box-overlay {
  background-color: #ff00008d;
}

.about-box:hover .about-content {
  color: #fff;
}
.activity-img-container:hover img {
  transform: scale(1.02);
}

.activity-img-container:hover .activity-img-title {
  transform: translateY(-5px);
  font-size: 21px;
}
